NEXT_PUBLIC_API_BASE=http://localhost:3000
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_HOST_ATA=GYs2Ucn7MDE27VBiN4PU2MHZfVmM24ivD2FaJVX7RoyE
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
